<div class="main-page">

<div class="container fade-l" ng-controller="signupController as signup">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mobile">
    <h1>Helpdesk </h1>
    <p><span style="font-size:15px">Ticket Based Support System</span></p>
    
    <h3>Having issues? Generate A Ticket.</h3>
  </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 login-form">
<form ng-submit="signup.signupUser()" >
  <h2 style="color:#16f3ca"> Signup</h2>
  <hr/>
    <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" ng-model="signup.firstName" class="form-control" id="firstName" required>
  </div>
  <div class="form-group">
    <label for="lastName">LastName:</label>
    <input type="text" ng-model="signup.lastName" class="form-control" id="lastName" required>
  </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" ng-model="signup.email" class="form-control" id="email" required>
  </div>

    <div class="form-group">
    <label for="mobile">Mobile:</label>
    <input type="number" ng-model="signup.mobile" class="form-control" id="mobile" required>
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" ng-model="signup.password" class="form-control" id="pwd" required>
  </div>
  <input type="submit" class="btn btn-success" value="signup">
</form>
<div class="signup-home">
  <p><a href="#/"><i class="fa fa-sign-in" aria-hidden="true"></i>
 Login</a></p>
</div>
  </div>
</div>
</div>